* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem 10%;
  position: fixed;
  width: 100%;
  z-index: 100 !important;
}
.logo {
  width: 100%;
  transition: all 1s;
}
.logo a {
  font-size: 1.5rem;
}
.logo:hover {
  transform: scale(1.05);
}
.navbar a {
  color: white;
  text-decoration: none;
}
.lista {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
.lista li a {
  padding: 0.3rem 0.5rem;
  transition: all 0.5s;
  border-radius: 5px;
}
.lista li a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
/* header */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
}
.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  filter: blur(3px);
  z-index: -1;
}
.container-header-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.592);
  padding: 2%;
  min-width: 50%;
  color: white;
  text-shadow: 0 0 1px white;
}
.container-header-text h1 {
  font-size: 2.5rem;
}
.container-header-text p {
  text-transform: uppercase;
  margin: 3%;
  font-size: 1.3rem;
  font-weight: bold;
}
.container-header-text button {
  background-color: black;
  color: white;
  border: none;
  margin: 2%;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 10000 !important;

  font-size: 1rem;
  padding: 0.8rem 1.5rem;
}
#Productos {
  scroll-margin-top: 10vh;
}
/* main */
main {
  background-color: white;
}
.main h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-family: monospace;
  text-transform: uppercase;
}
.container-productos {
  display: grid;
  /* grid-template-columns: repeat(3, 3fr); */
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 3%;
  place-content: center;
  padding: 5% 0;
  margin: auto;
  width: 90%;
  place-items: center;
}
.container-productos > div {
  padding: 1rem;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container-productos > div > p {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
.container-productos > div > button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: black;
  cursor: pointer;
  text-transform: uppercase;
}
.container-productos > div > img {
  width: 100%;
}
